{% load static %}
{% include 'header.html' %}

<br><br><br><br><br>
<section id="about">
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="section-title">
                <div class="section-subtitle">
                    About Us
                </div>
                <h2 class="section-main-title">We Are <strong>Professionals</strong></h2>
            </div>
            <div class="about-item">
                <p>Welcome to Movers & Packers Services, your number one source for all things. We're dedicated to giving you the very best of Serices, with a focus on Customer needs.
                    Founded in 2021 by Jain&Son's Group, Movers & Packers Service has come a long way from its beginnings in a M.H, Pune-Akurdi. When Ruturaj jain first started out, his passion for doing good thing, helping other parents be more eco-friendly, providing the best equipment for his fellow Customers drove him to do intense research, quit his day job, and gave him the impetus to turn hard work and inspiration into to a booming this business. We now serve customers all over India, and are thrilled to be a part of the quirky, eco-friendly, fair trade wing of this new industry.
                    
                    We hope you enjoy our services as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
                    
                    Sincerely,</p>
                    <p>Ruturaj jain, CEO, Founder</p>
            </div>
        </div>
        <div class="col-sm-4 offset-sm-2">
                <div class="about-box">
                    <img src="{% static 'images/ad2.jpg' %}">

                </div>
        </div>
    </div>
</div>
</section>